      <div class="row">
        <% products.each do |product| %>
        <div class="col-3">
          <%= link_to product_path(product) do %>
          <%= image_tag product.get_image, size: '200x150' %>
          <% end %>
          <p><%= product.name %></p>
          <p>¥<%= product.price %></p>
        </div>
        <% end %>