<div class='container text-center'>
  <h1>About</h1>
  <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p>お子様からお年寄りの方までお召し上がりいただけるよう、<br>様々なバリエーションをご用意しています。</p>
  <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p>ぜひご注文ください。</p>
  <p>画像</p>
</div>
