<div class='container text-center'>

  <div class='row m-5'>
    <p>ようこそ、ながのCAKEへ<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品閲覧はできますが、<br>
    購入には会員登録が必要になります。</p>
  </div>

  <div class='row'>
    <h4>新着商品</h4>
  </div>

  <div class='row'>
    <div class='col-10'>
      <%= render 'public/products/index', products: @products %>
    </div>
  </div>

  <div class='row'>
    <%= link_to "すべての商品を見る＞", products_path %>
  </div>

</div>


