<div class='container'>
    
  <div class='row'>
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品閲覧はできますが、<br>購入には会員登録が必要になります。</p>
  </div>
  
  <div class='row'>
    <h3>新着商品</h3>
    
    <div class='row'>
        
    </div>  
  </div>



</div>


