<div class="container">
    <div class="row">
        <div class="col">
            <h2>userさんの会員詳細</h2>
            <table>
                <tr>
                    <th>会員ID</th>
                    <td></td>
                </tr>
                <tr>
                    <th>氏名</th>
                    <td></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td></td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td></td>
                </tr>
                <tr>
                    <th>会員ステータス</th>
                    <td></td>
                </tr>
            </table>
            <button>変更を保存</button>
        </div>
    </div>
</div>
