<div class="container">
  <div class="row">
    <div class="col">
      <h2>会員一覧</h2>
        <table>
          <thead>
            <tr>
                <th>会員ID</th>   
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
            </tr>
          </thead>
                        
          <tbody>
            <tr>
                <!--仮で置いてます-->
                <th>1</th>
                <th>山田花子</th>
                <th>hoge＠example.com</th>
                <th>有効</th>
            </tr>
          </tbody>
          
        </table>
        </div>
    </div>
</div>
