<div class="container">
    <div class="row m-4">
        <h4>注文詳細履歴</h4>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>購入者</th>
                    <td><%#= @customer.name %></td>
                </tr>
                <tr>
                    <th>注文日</th>
                    <td><%#= @order.created_at %></td>
                </tr>
                <tr>
                    <th>配送先</th>
                    <td>
                        <%#= @order.address %>
                        <%#= @orser.name %>
                    </td>
                </tr>
                <tr>
                    <th>支払い方法</th>
                    <td><%#= @order.payment_method %></td>
                </tr>
                <tr>
                    <th>注文ステータス</th>
                    <td>
                        <%#= form_with model: @order do |f| %>
                            <%#= f.select :order_status, [["入金待ち", "入金待ち"], ["入金済み", "入金済み"], include_blank: "選択して下さい" %>
                            <%#= f.submit '送信'%>
                        <%# end %>
                        <%#= 　%>更新
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
          <thead>
            <tr>
                <th>商品名</th>   
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th>制作ステータス</th>
            </tr>
          </thead>
                        
          <tbody>
              <%# @customers.each do |customer| %>
            <tr>
                <!--仮で置いてます-->
                <th><%#= @product.name %>※商品名</th>
                <th><%#= @product.price %>※500</th>
                <th><%#= @order_details.quantity %>※5</th>
                <th><%#=  %>※2500</th>
                <th>
                    <!--プルダウン-->
                    <%#= form_with model: @order_datails do |f| %>
                        <%#= f.select :product_status, [["", ""], ["", ""], include_blank: "選択して下さい" %>
                        <%#= f.submit '送信'%>
                    <%# end %>
                    ※着手不可
                </th>
                <th>更新
                    <%#= form_with model:@order_details, url:"admin/orders/:id", local:true,method: :patch do |f| %>
                    <%#= f.submit "更新",method: :patch, class:'btn btn-success' %>
                </th>
            </tr>
            <%# end %>
          </tbody>
        </table>
        </div>
        <div class="col-md-3 offset-1">
            <table class="table">
                <tr>
                    <th>商品合計</th>
                    <td>2500円</td>
                </tr>
                <tr>
                    <th>送料</th>
                    <td>800円</td>
                </tr>
                <tr>
                    <th>請求金額合計</th>
                    <td>3300円</td>
                </tr>
            </table>
        </div>
            
    </div>
</div>